<h1>Loja</h1>

<div id="notice">
	<%=notice %>
</div>

<%= render "anuncios/form" %>

<hr />

<table>
	<tr>
		<th>Modelo</th>
		<th>Ano</th>
		<th>Valor</th>
		<th>Descrição</th>
		<th></th>
	</tr>

	<%=render @anuncios %>

</table>




